<<<<<<< HEAD
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#arbutus-slab-regular {
  font-family: "Arbutus Slab", serif;
  font-weight: 1200;
  font-style: normal;
  size: 300px;
  letter-spacing:7px;
}

=======
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#arbutus-slab-regular {
  font-family: "Arbutus Slab", serif;
  font-weight: 1200;
  font-style: normal;
  size: 300px;
  letter-spacing:7px;
}

>>>>>>> main
  