<<<<<<< HEAD
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#arbutus-slab-regular {
  font-family: "Arbutus Slab", serif;
  font-weight: 1200;
  font-style: normal;
  size: 300px;
  letter-spacing:7px;
}

  
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> ea43ec87e945744aff5f8e87a25a4ac85e171fee
